@model ITBedrijfProject.Models.Organisation

<h2>Vereniging Verwijderen</h2>
<p>Bent u zeker dat u de vereniging wilt verwijderen</p>

@using (Html.BeginForm("DeleteItem", "Vereniging", FormMethod.Post))
{
    @Html.HiddenFor(a => a.Id)
    <table class="table">
        <tr>
            <td><h3>Gegevens</h3></td>
        </tr>
        <tr>
            <th>Naam Organisatie</th>
            <td>@Html.ValueFor(a => a.OrganisationName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Login)</td>
            <td>@Html.ValueFor(a => a.Login)</td>
        </tr>
        
        <tr>
            <th>Adres</th>
            <td>@Html.ValueFor(a => a.Address)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Email)</td>
            <td>@Html.ValueFor(a => a.Email)</td>
        </tr>
        <tr>
            <th>Telefoonnummer</th>
            <td>@Html.ValueFor(a => a.Phone)</td>
        </tr>

        <tr>
            <td><h3>Database Gegevens</h3></td>
        </tr>
        <tr>
            <th>Naam Database</th>
            <td>@Html.ValueFor(a => a.DbName)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(a => a.DbLogin)</th>
            <td>@Html.ValueFor(a => a.DbLogin)</td>
        </tr>
      
        <tr>
            <td>
                <a href="/Vereniging/Index">
                    <input class="btn-default" type="button" value="Terug" />
                </a>
            </td>
            <td><input type="submit" value="Delete" /></td>

        </tr>
    </table>

    
}