@model ITBedrijfProject.Models.Organisation

@{
    ViewBag.Title = "Details";
}

<h2>Details van de vereniging</h2>

@using (Html.BeginForm("Index", "Vereniging", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th><h3>Gegevens</h3></th>
        </tr>
        <tr>
            <th>Organisatie Naam</th>
            <td>@Html.ValueFor(a => a.OrganisationName)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(a => a.Login)</th>
            <td>@Html.ValueFor(a => a.Login)</td>
        </tr>
        
        <tr>
            <th>Adres</th>
            <td>@Html.ValueFor(a => a.Address)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(a => a.Email)</th>
            <td>@Html.ValueFor(a => a.Email)</td>
        </tr>
        <tr>
            <th>Telefoonnummer</th>
            <td>@Html.ValueFor(a => a.Phone)</td>
        </tr>
        
        <tr>
            <th><h3>Database Gegevens</h3></th>
        </tr>
        <tr>
            <th>Database Naam</th>
            <td>@Html.ValueFor(a => a.DbName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.DbLogin)</td>
            <td>@Html.ValueFor(a => a.DbLogin)</td>
        </tr>
        
        
    </table>

    <br />
    <input class="btn-default" type="submit" name="Back" value="Terug" />
}
