@model ITBedrijfProject.PresentationModels.PMOrganisation
@{
    ViewBag.Title = "NewOrganisation";
}

<h2>Nieuwe vereniging toevoegen</h2>
@using (Html.BeginForm("NewOrganisation", "Vereniging", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="table">
        <tr>
            <th><h3>Persoonlijke Gegevens</h3></th>
        </tr>
        <tr>
            <th>Naam Organisatie</th>
            <td>@Html.TextBoxFor(a => a.OrganisationName, new { placeholder = Html.DisplayNameFor(a => a.OrganisationName) })</td>
            @Html.ValidationMessageFor(a => a.OrganisationName)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Login)</td>
            <td>@Html.TextBoxFor(a => a.Login, new { placeholder = Html.DisplayNameFor(a => a.Login) })</td>
            @Html.ValidationMessageFor(a => a.Login)
        </tr>
        <tr>
            <th>Wachtwoord</th>
            <td>@Html.PasswordFor(a => a.Password, new { placeholder = Html.DisplayNameFor(a => a.Password) })</td>
            @Html.ValidationMessageFor(a => a.Password)
        </tr>
        <tr>
            <th>Controle Wachtwoord</th>
            <td>@Html.PasswordFor(a => a.ControlPassword, new { placeholder = Html.DisplayNameFor(a => a.ControlPassword) })</td>
            @Html.ValidationMessageFor(a => a.ControlPassword)
        </tr>
        <tr>
            <th>Adres</th>
            <td>@Html.TextBoxFor(a => a.Address, new { placeholder = Html.DisplayNameFor(a => a.Address) })</td>
            @Html.ValidationMessageFor(a => a.Address)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Email)</td>
            <td>@Html.TextBoxFor(a => a.Email, new { placeholder = Html.DisplayNameFor(a => a.Email) })</td>
            @Html.ValidationMessageFor(a => a.Email)
        </tr>
        <tr>
            <th>Telefoonnummer</th>
            <td>@Html.TextBoxFor(a => a.Phone, new { placeholder = Html.DisplayNameFor(a => a.Phone) })</td>
            @Html.ValidationMessageFor(a => a.Phone)
        </tr>
        <tr>
            <th><h3>Database Gegevens</h3></th>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.DbLogin)</td>
            <td>@Html.TextBoxFor(a => a.DbLogin, new { placeholder = Html.DisplayNameFor(a => a.DbLogin) })</td>
            @Html.ValidationMessageFor(a => a.DbLogin)
        </tr>
        <tr>
            <th>Naam database</th>
            <td>@Html.TextBoxFor(a => a.DbName, new { placeholder = Html.DisplayNameFor(a => a.DbName) })</td>
            @Html.ValidationMessageFor(a => a.DbName)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.DbPassword)</td>
            <td>@Html.PasswordFor(a => a.DbPassword, new { placeholder = Html.DisplayNameFor(a => a.DbPassword) })</td>
            @Html.ValidationMessageFor(a => a.DbPassword)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.DbControlPassword)</td>
            <td>@Html.PasswordFor(a => a.DbControlPassword, new { placeholder = Html.DisplayNameFor(a => a.DbControlPassword) })</td>
            @Html.ValidationMessageFor(a => a.DbControlPassword)
        </tr>

    </table>
                <a href="/Vereniging/Index"><input class="btn btn-default"  type="button" value="Back" />
                </a><input class="btn btn-default" type="submit" value="Create" />




}
