@model ITBedrijfProject.PresentationModels.PMOrganisationRegister
<h2>@ViewBag.Organisation.OrganisationName</h2>
<h3>Nieuwe kassa toevoegen</h3>
@using (Html.BeginForm("NewRegister", "Vereniging", FormMethod.Post))
{
    @Html.HiddenFor(a => a.OrganisationID)
    <table class="table">
        <tr>
            <th>Naam Kassa</th>
            <td>@Html.DropDownListFor(a => a.RegisterID, Model.NewRegister)</td>
            <td>@Html.ValidationMessageFor(a => a.RegisterID)</td>
        </tr>
        <tr>
            <th>Vanaf</th>
            <td><input type="date" value="@DateTime.Today" id="FromDate" name="FromDate" min="@DateTime.Today.Year-@DateTime.Today.Month-@DateTime.Today.Day" /></td>
            <td><input type="time" value="@DateTime.Today" id="FromTime" name="FromTime" /></td>
        </tr>
        <tr>
            <th>Tot</th>
            <td><input type="date" value="@DateTime.Today" id="UntilDate" name="UntilDate" min="@DateTime.Today.Year-@DateTime.Today.Month-@DateTime.Today.Day" /></td>
            <td><input type="time" value="@DateTime.Today" id="UntilTime" name="UntilTime" /></td>
        </tr>
        <tr>
           </table>
                <a href="/Vereniging/Index">
                    <input  class="btn-default" type="button" value="Back" />
                </a>
            
            <input class="btn-default" type="submit" value="Create" />
        
}
