@model ITBedrijfProject.Models.Register

<h2>Kassa Verwijderen</h2>
<p>Bent u zeker dat u de kassa wilt verwijderen</p>

@using (Html.BeginForm("DeleteItem", "Kassa", FormMethod.Post))
{
    @Html.HiddenFor(a => a.Id)
    @Html.HiddenFor(a => a.Id);

    <table class="table">
        <tr>
            <td>@Html.LabelFor(a => a.RegisterName)</td>
            <td>@Html.ValueFor(a => a.RegisterName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Device)</td>
            <td>@Html.ValueFor(a => a.Device)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.PurchaseDate)</td>
            <td>@Html.ValueFor(a => a.PurchaseDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.ExpiresDate)</td>
            <td>@Html.ValueFor(a => a.ExpiresDate)</td>
        </tr>
        <tr>
            <td>
                <a href="/Kassa/Index">
                    <input class="btn-default" type="button" value="Terug" />
                </a>
            </td>
            <td><input class="btn-default" type="submit" value="Verwijder" /></td>
        </tr>
    </table>
}
