@model ITBedrijfProject.Models.Register

<h2>Kassa Verwijderen</h2>
<p>Bent u zeker dat u de kassa wilt verwijderen</p>

@using (Html.BeginForm("DeleteItem", "Kassa", FormMethod.Post))
{
    @Html.HiddenFor(a => a.Id)
    @Html.HiddenFor(a => a.Id);

    <table class="table">
        <tr>
            <th>Kassa Naam</th>
            <td>@Html.ValueFor(a => a.RegisterName)</td>
        </tr>
        <tr>
            <th>Toestel</th>
            <td>@Html.ValueFor(a => a.Device)</td>
        </tr>
        <tr>
            <th>Aankoopdatum</th>
            <td>@Html.ValueFor(a => a.PurchaseDate)</td>
        </tr>
        <tr>
            <th>Verloopdatum</th>
            <td>@Html.ValueFor(a => a.ExpiresDate)</td>
        </tr>
    </table>
        
                <a href="/Kassa/Index">
                    <input class="btn-default" type="button" value="Terug" /></a>
           
          <input class="btn-default" type="submit" value="Verwijder" />
        
   
}
