@model ITBedrijfProject.Models.Register

@{
    ViewBag.Title = "Details";
}

<h2>Details Kassa</h2>

@using (Html.BeginForm("Index", "Kassa", FormMethod.Post))
{
    @Html.HiddenFor(a => a.Id);

    <table class="table">
        <tr>
            <th>Naam kassa</th>
            <td>@Html.ValueFor(a => a.RegisterName)</td>
        </tr>
        <tr>
            <th>Toestel</th>
            <td>@Html.ValueFor(a => a.Device)</td>
        </tr>
        <tr>
            <th>Aankoopdatum</th>
            <td>@Html.ValueFor(a => a.PurchaseDate)</td>
        </tr>
        <tr>
            <th>Verloopdatum</th>
            <td>@Html.ValueFor(a => a.ExpiresDate)</td>
        </tr>

    </table>

                
        <input class="btn-default" type="submit" name="Back" value="Terug" />
}
